[submodule "cdt-llvm"]
	path = cdt-llvm
	url = ../cdt-llvm
[submodule "libraries/libc/cdt-musl"]
	path = libraries/libc/cdt-musl
	url = ../cdt-musl
[submodule "libraries/libc++/cdt-libcxx"]
	path = libraries/libc++/cdt-libcxx
	url = ../cdt-libcxx
[submodule "libraries/native/softfloat"]
	path = libraries/native/softfloat
	url = ../berkeley-softfloat-3
